
<!--<link href="{$wa_app_static_url}plugins/advancedparams/css/shopAdvancedparamsPluginBackend.css?{$wa->version()}" rel="stylesheet" type="text/css">-->
<script src="{$wa_app_static_url}plugins/smartsku/js/shopSmartskuPluginBackendSettings.js?{$wa->version()}"></script>

<div class="">
    <div class="" id="advancedparams-sidebar" style="border: 1px #ccc solid;    padding: 10px;    display: block;">
        <div style="display: inline-block;">Выберите витрину</div>
        <div style="display: inline-block; margin-left: 100px;">
            <select name="smartsku_storefront">
                {foreach $storefronts as $stf}
                <option value="{$stf}">
                    {if $stf=='general'}Для всех витрин{else}{$stf}{/if}
                </option>
                {/foreach}
            </select>
        </div>

    </div>
    <div class="content block triple-padded"  id="smartsku_plugin-content"><i class="icon16 loading"></i>[`Loading...`]</div>
    <div class="clear-both"></div>
</div>
<script>
    $(function () {
        $.shopSmartskuPluginBackendSettings.init();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).off('click','form input[type=submit]').on('click','form input[type=submit]',    function () {
           var f =  $(this).closest('#plugins-settings-form');
            $.shopSmartskuPluginBackendSettings.save(f);
            return false;
        });
    });
</script>


