.smartsku_plugin-product .skus li {margin: 0.5em 0 0;padding-top: 0;list-style-type: none;width: 100%;position: inherit;height: inherit;min-height: inherit;float: inherit;}
.smartsku_plugin-product .skus li:first-child {margin-top: 0.5em;}
.smartsku_plugin-product .skus li span { margin: 0 0 0 0;}
.smartsku_plugin-product .skus li span.price {}
.smartsku_plugin-product .skus li span:first-child {margin-left: 0;}
.smartsku_plugin-product .skus li .price,
.smartsku_plugin-product .skus li span.price {font-weight: bold;color: #c03;font-size: 100%;}
.smartsku_plugin-product .skus li .hint {font-size: 0.86em;color: #aaa;}
.smartsku_plugin-product .options select {width: inherit}
.smartsku_plugin-product .options .inline-select {margin: 0.5em 0 0;padding: 0;}
.smartsku_plugin-product .options .inline-select.color {margin-bottom: 20px;}
.smartsku_plugin-product .options .inline-select.color
.smartsku_plugin-product .options .inline-select:first-child { margin-top: 0;}
.smartsku_plugin-product .options .inline-select a {display: inline-block;vertical-align: middle;  min-height: 2.5em;min-width: 2.5em;margin: 0.5em 0.4em 0 0 !important; padding: 3px 7px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;text-align: center;font-weight: bold;border: 1px solid rgba(0,0,0,0.1);outline: 0 none;line-height: 25px;font-size: 13px;font-family: Helvetica, Arial, sans-serif;position: relative;-webkit-border-radius: 2px;border-radius: 2px; text-shadow: none;text-decoration: none; -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.1);box-shadow: 0 0 4px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.1);}
.smartsku_plugin-product .options .inline-select a i {display: none;}
.smartsku_plugin-product .options .inline-select.color a.smartsku_plugin-feature-grey:not(.selected) i.color_checkmark,
.smartsku_plugin-product .options .inline-select.color a.smartsku_plugin-feature-grey:not(.active) i.color_checkmark
{display: block;width: 100%;height: 100%; position: absolute; top: 0; left: 0; background: url(../img/no_exists.png) no-repeat;padding: 0;margin: 0;}
.smartsku_plugin-product .options .inline-select a:not(.selected), .smartsku_plugin-product .options .inline-select a:not(.active) {color: #121212;background-color: #fff;}
.smartsku_plugin-product .options .inline-select a.selected, .smartsku_plugin-product .options .inline-select a.active {border: none;color: #fff !important; background: #555;}
.smartsku_plugin-product .options .inline-select a.smartsku_plugin-feature-grey.selected, .smartsku_plugin-product .options .inline-select a.smartsku_plugin-feature-grey.active {color: #121212 !important;}
.smartsku_plugin-product .options .inline-select a .color_name {display: none;position: absolute;bottom: -22px;left: 50%;font-size: 0.6em;color: rgba(0,0,0,0.7);margin-left: -40px;width: 80px;}
.smartsku_plugin-product .options .inline-select a.selected .color_name, .smartsku_plugin-product .options .inline-select a.active .color_name {display: block;}
.smartsku_plugin-product .options .inline-select a.selected .icon16.checkmark.color_checkmark, .smartsku_plugin-product .options .inline-select a.active .icon16.checkmark.color_checkmark {background-repeat: no-repeat;margin: 0.2em 0.25em 0 0 !important;height: 16px;width: 16px;display: inline-block;text-indent: -9999px;text-decoration: none!important;background-position: 0 0;background-image: url(../img/option_active.png);background-size: 16px 16px;position: absolute;left: 10px;top: 4px;}
.smartsku_plugin-product .options .inline-select a.selected.smartsku_plugin-feature-grey .icon16.checkmark.color_checkmark, .smartsku_plugin-product .options .inline-select a.active.smartsku_plugin-feature-grey .icon16.checkmark.color_checkmark {background-image: url(../img/option_active-grey.png);    background-size: 16px 16px;  top: 7px;    left: 10px;}
