{if $product.sku_type}
    <!-- SELECTABLE FEATURES selling mode -->
    {$default_sku_features = $product.sku_features}
    {$product_available = $product.status}
    <div class="options">
        {foreach $product.features_selectable as $f}
        <div class="smartsku-feature-block">
            {if $f.view_type == 'inline'}
            {if !empty($f.name)}<div>{$f.name}:</div>{/if}
            <div class="inline-select smartsku-feature-select {if $f.type == 'color'} color{/if}">
                {foreach $f.values as $v_id => $v}
                {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                <a data-value="{$v_id}" href="#"{if $v_id == ifset($default_sku_features[$f.id])} class="selected"{/if}{if $f.type == 'color'} style="{$v->style}; margin-bottom: 20px;"{/if}>
                {if $f.type == 'color'}&nbsp;<i class="icon16 checkmark color_checkmark"></i>{/if}
                {if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
                </a>
                {/foreach}
                <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
            </div>
            {else}
            <div class="smartsku-feature-select">
                {if !empty($f.name)}{$f.name}:{/if}
                <select data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]">
                    {foreach $f.values as $v_id => $v}
                    <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
                    {/foreach}
                </select>
            </div>
            {/if}
            {foreach $f.values as $v_id => $v}
            <div class="smartsku-feature-value smartsku-feature-value-{$v_id}" style="display: none;">{$f.view_name}: {$v}</div>
            {/foreach}
        </div>
        {/foreach}
    </div>
{else}
<!-- FLAT SKU LIST selling mode -->
{$product_available = false}
{if count($product.skus) > 1}
    {* When there is more than one SKU, display selector *}
    <ul class="skus">
        {foreach $product.skus as $sku}
        {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
        <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <label{if !$sku.available} class="disabled"{/if}>
            <input name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}> <span itemprop="name">{$sku.name|escape}</span>
            {if $sku.sku}<span class="hint">{$sku.sku|escape}</span>{/if}
            <meta itemprop="price" content="{$sku.price}">
            <meta itemprop="priceCurrency" content="{$product.currency}">
            <span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span>
            {if (!($sku.count === null) && $sku.count <= 0)}
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {else}
            <link itemprop="availability" href="http://schema.org/InStock" />
            {/if}
            </label>
        </li>
        {$product_available = $product_available or $sku_available}
        {/foreach}
    </ul>
{else}
{* Товарное предложение там и так есть и его можно купить *}
{/if}

{/if}
