.smartsku_plugin-product label.smartsku_plugin-feature-grey span{color: #212121 !important;
    border-color: #efefef !important;
    background-color: #ccc !important;
    opacity: 0.6;}
.smartsku_plugin-product label.smartsku_plugin-feature-grey.selected span,
.smartsku_plugin-product label.smartsku_plugin-feature-grey.active span{color: #121212 !important;}


.smartsku_plugin-product label.smartsku_plugin-feature-hide {  display: none !important;}
.smartsku_plugin-product label.smartsku_plugin-feature-hide.selected ,
.smartsku_plugin-product label.smartsku_plugin-feature-hide.active {display: none !important;}