{if $storefront == 'general'}
{$storefront_name = 'общие'}
{else}
{$storefront_name = $storefront}
{/if}
<div class=" form smartsku_plugin-settings">
    <form action="{$wa_url}smartsku_plugin_debug/" method="post" id="smartsku_plugin-settings">
        {$wa->csrf()}
            <div class="block double-padded " >
                <div class="field">
                    <div class="name">
                       Функция "Умный артикул"
                    </div>
                    <div class="value">
                        <input type="hidden" name="settings[smart_sku]" value="0">
                        <input type="checkbox" name="settings[smart_sku]" value="1" {if isset($settings.smart_sku) && $settings.smart_sku} checked {/if}><br>
                    <span class="hint">При выборе комбинации характеристик и отсутствии артикула (был удален) или при включенной опции скрытия недоступных для покупки артикулов,
                        <br>покупателю будет предложен наиболее похожий артикул по выбранным параметрам товара. <br>Таким образом покупатель не увидит надпись: "Товар с выбранным набором характеристик недоступен для покупки".</span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Скрыть Услуги
                    </div>
                    <div class="value">
                        <input type="hidden" name="settings[hide_services]" value="0">
                        <input type="checkbox"  name="settings[hide_services]" value="1" {if isset($settings.hide_services) && $settings.hide_services} checked {/if}>
                        При включении будет принудительно скрыт вывод услуг товаров
                        <p class="hint">Скрытие будет произведено только в карточке товара, в других местах, выбор услуг будет доступен, согласно вашим шаблонам дизайна.</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Скрыть Склады
                    </div>
                    <div class="value">
                        <input type="hidden"   name="settings[hide_stocks]" value="0">
                        <input type="checkbox" name="settings[hide_stocks]" value="1" {if isset($settings.stocks) && $settings.stocks} checked {/if}>
                        При включении будет принудительно скрыт вывод наличия товаров на складах
                        <p class="hint">Скрытие будет произведено только в карточке товара, в других местах вывод наличия товара на складах будет доступен, согласно вашим шаблонам дизайна.</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Менять артикул на доступный к покупке
                    </div>
                    <div class="value">
                        <input type="hidden" name="settings[smart_sku_replace]" value="0">
                        <input type="checkbox"  name="settings[smart_sku_replace]" value="1" {if isset($settings.smart_sku_replace) && $settings.smart_sku_replace} checked {/if}>
                        <p class="hint">При выборе несуществующего или недоступного для покупки артикула, покупателю будет подобран наиболее похожий артикул доступный к покупке</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Скрытие комбинаций характеристик
                    </div>
                    <div class="value">
                        <p> Для несуществующих артикулов
                            <select name="settings[smart_sku_hide_non_existent_type]">
                                <option value="0" {if isset($settings.smart_sku_hide_non_existent_type) && $settings.smart_sku_hide_non_existent_type=="0"} selected {/if}>не скрывать</option>
                                <option value="1" {if isset($settings.smart_sku_hide_non_existent_type) && $settings.smart_sku_hide_non_existent_type=="1"} selected {/if}>выделять серым цветом</option>
                                <option value="2" {if isset($settings.smart_sku_hide_non_existent_type) && $settings.smart_sku_hide_non_existent_type=="2"} selected {/if}>скрывать полностью(не показывать)</option>
                            </select>
                            <br><span class="hint">Будут скрыты или выделены серым недоступные комбинации характеристик несуществующих (удаленных) артикулов</span>
                        </p>
                        <p>Для артикулов c остатком 0 на складах
                            <select name="settings[smart_sku_hide_not_available_type]">
                                <option value="0" {if isset($settings.smart_sku_hide_not_available_type) && $settings.smart_sku_hide_not_available_type=="0"} selected {/if}>не скрывать</option>
                                <option value="1" {if isset($settings.smart_sku_hide_not_available_type) && $settings.smart_sku_hide_not_available_type=="1"} selected {/if}>выделять серым цветом</option>
                                <option value="2" {if isset($settings.smart_sku_hide_not_available_type) && $settings.smart_sku_hide_not_available_type=="2"} selected {/if}>скрывать полностью(не показывать)</option>
                            </select>
                            <br><span class="hint">Будут скрыты или выделены серым недоступные для покупки комбинации характеристик артикулов</span>
                        </p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Скрывать характеристику с одним значением <spa class="hint">(Работает при использовании шаблонов плагина)</spa>
                    </div>
                    <div class="value">
                        <input type="hidden" name="settings[smart_sku_hide_single_feature]" value="0">
                        <input type="checkbox"  name="settings[smart_sku_hide_single_feature]" value="1" {if isset($settings.smart_sku_hide_single_feature) && $settings.smart_sku_hide_single_feature} checked {/if}> Если в продукте одна характеристика
                        <br><input type="hidden" name="settings[smart_sku_hide_multi_feature]" value="0">
                        <input type="checkbox"  name="settings[smart_sku_hide_multi_feature]" value="1" {if isset($settings.smart_sku_hide_multi_feature) && $settings.smart_sku_hide_multi_feature} checked {/if}> Если в продукте несколько характеристик
                        <p class="hint">Если включена опция замены недоступных артикулов и у характеристики будет всего один вариант выбора, она будет скрыта и покупатель не увидит ее. При включении в продукте с несколькими выбираемыми характеристиками, характеристики будут скрываться и появляться, в зависимости от выбора соседних характеристик</p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Свои классы скрытия характеристик
                    </div>
                    <div class="value">
                        <p> <input type="hidden" name="settings[smart_sku_hide_style]" value="0">
                            <input type="checkbox"  id="hide_sku_style" name="settings[smart_sku_hide_style]" value="1" {if isset($settings.smart_sku_hide_style) && $settings.smart_sku_hide_style} checked {/if}>
                        </p>
                        <p  class="hide_sku_style" {if isset($settings.smart_sku_hide_style) && $settings.smart_sku_hide_style}{else}style="display:none;"{/if}>
                        <input type="text" name="settings[smart_sku_class_grey]" value="{if isset($settings.smart_sku_class_grey) && !empty($settings.smart_sku_class_grey)}{$settings.smart_sku_class_grey}{/if}" style="width: 150px;">
                        Впишите название класса CSS для выделения "Серым" недоступных комбинаций характеристик
                        <br>
                        <span class="hint">Название класса CSS нужно указывать без точки вначале.</span>
                        <br>
                        <input type="text" name="settings[smart_sku_class_hide]" value="{if isset($settings.smart_sku_class_hide) && !empty($settings.smart_sku_class_hide)}{$settings.smart_sku_class_hide}{/if}" style="width: 150px;">
                        Впишите название класса CSS для полного скрытия недоступных комбинаций характеристик
                        <br>
                        <span class="hint">Название класса CSS нужно указывать без точки вначале.</span>
                        </p>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        Принудительно подключить файл стилей
                    </div>
                    <div class="value">
                        <input type="hidden"   name="settings[style_default]" value="0">
                        <input type="checkbox"  name="settings[style_default]" value="1" {if isset($settings.style_default) && $settings.style_default} checked {/if}>
                        Включать при условии отсутствия стилей в теме дизайна
                        <p class="hint">Если при выводе характеристик, складов и услуг продукта дизайн из темы не подгрузился, вы можете подключить данный файл дизайна.</p>
                    </div>
                </div>
            </div>
        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="[s`Save`]">
                <span id="smartsku_plugin-settings-status" style="display:none"></span>
            </div>
        </div>
    </form>
</div>
<style>


</style>
<script type="text/javascript">
    {literal}
    $('#hide_sku_style').change(function () {
        if($(this).is(':checked')) {
            $('.hide_sku_style').show();
        } else {
            $('.hide_sku_style').hide();
        }
    });
    $(document).off('click','#smartsku_plugin-settings input[type=submit]').on('click','#smartsku_plugin-settings input[type=submit]',    function () {
        var f =  $(this).closest('#smartsku_plugin-settings');
        var action = f.attr('action');
        var msg = '';

        $.ajax({
            url: action,
            data: f.serialize(),
            dataType: "json",
            type: "post",
            success: function(response) {

                if(!response.data.error) {
                    msg = '<i style="vertical-align:middle" class="icon16 yes"></i> Сохранено';
                } else {
                    msg = '<i style="vertical-align:middle" class="icon16 cross"></i> Ошибка';
                }

            },
            error: function(jqXHR, errorText, errorThrown) {
                if(console){
                    console.log(jqXHR, errorText, errorThrown);
                }
            },
            complete: function() {
                var status =  $('#smartsku_plugin-settings-status');
                status.html(msg);
                status.show();
                setTimeout(function(){
                    status.hide(1500);
                    status.empty();
                    window.location.reload();
                }, 3000);
            }
        });
        return false;
    });
    {/literal}
</script>



